body {
  color: #2d3c49;
  font-family: "Roboto";
}

header {
  border-bottom: 2px solid #7d97ad;
}

#logo {
  height: 90px;
  min-width: 90px;
}

#hero {
  margin-top: 20px;
}

#work {
  margin-top: 20px;
}

#work-text {
  text-align: center;
}

#work-text {
  border-bottom: 2px solid #7d97ad;
}

.work-item {
  margin-top: 20px;
}

.work-item > h3 {
  margin-top: 20px;
}
